/*general*/
*,body{
	margin-left: 140;
	margin-right: 140;
}
body{
	background-color: #1B1C1F
}
.title{
	color: #8D8D8F;
	font-size: 20px;
	font-family: Poppins;
}

.h1{
	color: #FFFFFF;
	font-size: 32px;
	font-family: Poppins;
}

.desc{
	color: #FFFFFF;
	font-size: 14px;
	font-family: Poppins;
}
.textbutton{
	color: #FFFFFF;
	font-size: 20px;
	font-family: Poppins;
}

/*navbar*/
nav{
	position: relative;
	display: inline-block;
	top: -40px;
}
nav a{
	position: relative;
	display: inline-block;
	text-decoration: none;
	color : #FFFFFF;
	font-family: Poppins;
	padding-bottom: 16px;
}
nav a:hover{
	position: relative;
	color: #BF7EC2;
}

/*porto*/
section#porto{
	position: relative;
	width: 84%;
	margin-left: 8%;
	margin-right: 8%;
	margin-top: 148px;
	margin-bottom: -612px;
}
p#h1-porto{
	position: relative;
	display: inline-block;
	line-height: 48px;
	left: 0px;
	top: -40px;
}
p#desc-porto{
	position: relative;
	display: inline-block;
	line-height: 28px;
	left: 0px;
	top: -60px;
}
.porto1{
  	position: relative;
  	display: inline-block;
	width: 733px;
	height: 560px;
}
.porto2{
  	position: relative;
  	display: inline-block;
	width: 347px;
	height: 260px;
	left: 40px;
	top: -300px;
}
.porto3{
  	position: relative;
  	display: inline-block;
	width: 347px;
	height: 260px;
	left: 777px;
	top: -264px;
}
.porto4{
  	position: relative;
  	display: inline-block;
	width: 347px;
	height: 260px;
	left: -351px;
	top: 40px;
}
.porto5{
  	position: relative;
  	display: inline-block;
	width: 347px;
	height: 260px;
	left: -316px;
	top: 40px;
}
.porto6{
  	position: relative;
  	display: inline-block;
	width: 347px;
	height: 260px;
	left: 777px;
	top: -224px;
}
.porto7{
  	position: relative;
  	display: inline-block;
	width: 1124px;
	height: 855px;
	top: -184px;
}
.porto8{
  	position: relative;
  	display: inline-block;
	width: 347px;
	height: 260px;
	top: -144px;
}
.porto9{
  	position: relative;
  	display: inline-block;
	width: 347px;
	height: 260px;
	left: -351px;
	top: 156px;
}
.porto10{
  	position: relative;
  	display: inline-block;
	width: 733px;
	height: 560px;
	left: 390px;
	top: -408px;
}
.porto11{
  	position: relative;
  	display: inline-block;
	width: 733px;
	height: 560px;
	top: -368px;
}
.porto12{
  	position: relative;
  	display: inline-block;
	width: 347px;
	left: 40px;
	top: -668px;
}
.porto13{
  	position: relative;
  	display: inline-block;
	width: 347px;
	left: 777px;
	top: -632px;
}

/*footer*/
section#footer{
	position: relative;
	display: inline-block;
	width: 84%;
	margin-left: 8%;
	margin-right: 8%;
}